{% extends 'base.html' %}
{% block content %}
<h1>This is PizzaVision</h1>
<p>Your home for pizza on the screen.</p>
<div class="home__pizzaclubs">

    {% for pizzaclub in pizzaclubs %}

        <div class="pizzaclub mb-5">
            <h3 class="title is-3 has-text-success">{{pizzaclub.club_name}}</h3>
            <hr />

            {% for character in pizzaclub.characters.all %}

                <div class="character">
                    <span>{{character.name}}</span>
                    <span>
                        <a href="{% url 'pizzaclub_character_assoc' pizzaclub.pk character.pk %}?assoc=remove" class="button is-danger is-outlined">
                        <span class="icon is-small">
                            <i class="fas fa-times"></i>
                        </span>
                        </a>
                    </span>
                </div>

            {% endfor %}
        </div>
        {% empty %} 
        <div class="pizzaclub mb-5">"There are no characters in this pizzaclub"</div>
    {% endfor %}
</div>
<form class="mb-5" action="{% url 'pizzaclub_create' %}" method="post">
    {% csrf_token %}
        <div class="control">
            <input class="button is-primary" type="submit" value="Add Pizza Club" />
        </div>
    </div>
</form>
{% endblock %}