{% extends 'base.html' %} 

{% block content %}
<div class="detail__img">
    <img src="{{pizza.image}}" alt="{{pizza.name}}" />
</div>
<div class="detail__name">
    <h1 class="title">{{pizza.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'pizza_update' pizza.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="/pizzas/{{pizza.id}}/delete" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About This Za</h4>
        <p>{{pizza.review}}</p>
    </div>
</div>
<!-- inside container -->
<div class="detail__characters mb-5">
    <h3 class="title is-3">characters</h3>
        <span><b>Character </b></span><span>Actor</span>
    {% for character in pizza.characters.all %}
        <div class="character">
            <span><b>{{character.name}}:</b></span>
            <span>{{character.actor}}</span>
        </div>
    {% empty %}
        <article class="message">
            <div class="message-header">
                <p>No characters Available</p>
            </div>
        </article>

    {% endfor %}
</div>
<!--  above about section  -->
{% endblock %}